<nav>
  <!--<img src="/present.svg" alt="christmas present">-->
  <div class="site-title">
    <a class="nounderline" href="/"><h1><span class="red-span">Kris</span><span class="green-span">Kindle</span></h1></a>
    <p>2022 Edition</p>
  </div>
  <ul>
    <li><a href="/about">About</a></li>
    <!--<li><a href="/users/create">Add User</a></li>-->
  </ul>
</nav>
