<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/navusers.ejs") %>

  <div class="about content">
    <h4>A very basic Kris Kindle resource.</h4>
      <img src="dog.jpg"/>
    <br><br>
    <h6>Help</h6>
    <hr>
    <ul>
      <li>Click someone's name from the participant list to view/edit details (wishlist, charity etc.).</li>
      <li>Click on a badge on the participant list to toggle if the charity/present has been completed.</li>
      <li>Click on the <i>KrisKindle</i> text at the top left of the screen to go back to the participant list.</li>
      <li>^ The Beautiful! ^</li>
    </ul>

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>